/* CSS Document */

/**, *::after, *::before {
  box-sizing:border-box;
} */

HTML,
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 100% / 250%;
    letter-spacing: 0.15em;

}

/********/
/* Main */
/********/
main {
    display: grid;
    grid-template-rows: 1 fr;

}

/*********/
/* Header*/
/*********/
header {
    background-color: black;
    margin: 0px auto 0px auto;
    padding: 0.5em;

}

/* h1 hidden?, main linkje */
header > nav > ul > li > a {
    color: burlywood;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;

}

/**********************************/
/* ul Flexbox: header, navigation */
/**********************************/

header > nav > ul:nth-of-type(1) {
    display: flex;
    align-items: center;
    height: 0.5em;
}

header > nav > ul:nth-of-type(1) li + li {
    margin-left: 1em;
}

/* first child="LesMillss" krijgt meer ruimte en de rest wordt naar recht "geduwd" */
header > nav > ul:nth-of-type(1) li:first-of-type {
    margin-right: auto;
}

header > nav > ul:nth-of-type(1) li {
    margin-right: .125em;
    /*width: 30px; */
    list-style: none;
}

/* einde Flexbox (header) */

/*********************/
/* button navigation */
/*********************/
header > nav > ul > li > button {
    display: contents;
    /* button rand weglaten*/
}

/* -----
SVG search Icons button - source: svgicons.sparkk.fr
----- */

header > nav > ul > li > button > svg.svg-icon {
    width: 2em;
    height: 10em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #BBBBBB;
}

.svg-icon circle {
    stroke: #BBBBBB;
    stroke-width: 1;
}

/* end SVG searchIcon */

/************/
/* Headings */
/***********/
h1 {}

h2,
h3,
p,
a {
    text-transform: uppercase;

    font-weight: bold;
    font-size: 0.7em;
}

img {
    max-width: 100%;

}

/* article style on the homepage */
section > article > div.styleHome {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}


section > article {
    position: relative;
}

.styleArticle {
    text-align: center;

    color: black;
}
